* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: "Montserrat", sans-serif;
}

h1, h3, h4, h5 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: .2rem;
}

h1 {
  padding: 1.5rem 1rem 0;
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: .2rem;
  margin-top: 1rem;
  text-align: center;
}

h4 {
  margin: 1.5rem 0; 
  text-align: center;
}

.current {
  color: #d4d4d4;
}

.bold {
  font-weight: bold;
}

/* ---------- Alert All Pages */
.alert {
  background-color: #ff6565;
  border: none;
  border-radius: 0;
  color: #fff;
  opacity: .8;
  margin: 0;
  padding: 1rem;
}

.alert h5 {
  display: inline-block;
  font-size: 1.7rem;
  margin-bottom: .5rem;
}

#close-alert {
  display: inline-block;
  float: right;
}

.alert p {
  font-size: 1.1rem;
  margin: 0;
}

/* ---------- Header All Pages */
.navbar {
  background-color: #1e1e1e !important;
}

.navbar-nav {
  margin-right: .8rem;
}

.navbar-toggler {
  padding-top: .8rem;
}

nav img {
  width: 13rem;
}

#navbarNav li a {
  color: #007acc;
  float: right;
  font-family: "Courgette", cursive;
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: .1rem;
}

#navbarNav li a:hover {
  color: #d4d4d4;
}

/* Credit: Stackoverflow @ https://stackoverflow.com/questions/50668594/remove-border-color-for-navbar-toggler-hamburger-icon-bootstrap-4 and @ https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,122,172, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* /End of Credit */

/* ---------- Section (index.html) */
section p {
  font-size: 1.2rem;
  letter-spacing: .1rem;
  padding: 1.5rem 2rem ;
  margin-bottom: 0;
  text-align: center;
}

hr {
  background-color: rgba(0, 122, 204, .5);
  border: none;
  border-radius: 2rem;
  height: .3rem;
  margin: 0 auto;
  width: 80%;
}

/* Credit: codepen @ https://codepen.io/techshiva/pen/JVbKLM */
@-webkit-keyframes buzz-out-on-hover {

  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes buzz-out-on-hover {

  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.buzz-out-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.buzz-out-on-hover:hover, .buzz-out-on-hover:focus, .buzz-out-on-hover:active {
  -webkit-animation-name: buzz-out-on-hover;
  animation-name: buzz-out-on-hover;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* /End of Credit */

.btn-instructions, .btn-countries, .btn-speed-typing {
  background-color: #ff6565;
  border: none;
  border-radius: 2rem;
  display:block;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  margin: 2.2rem auto;
  padding: .5rem 1rem;
  width: 15rem;
}

.btn-instructions:hover, .btn-countries:hover, .btn-speed-typing:hover,
.btn-instructions:active, .btn-countries:active, .btn-speed-typing:active,
.btn-instructions:focus, .btn-countries:focus, .btn-speed-typing:focus,
.btn-instructions:active:focus, .btn-countries:active:focus, .btn-speed-typing:active:focus {
  background-color: #ff6565 !important;
  border: none !important;
  box-shadow: none !important;
}

.btn-countries {
  background-color: #007acc;
  margin: 1rem 0 0 0;
  width: 13rem;
}

.btn-countries:hover,
.btn-countries:active,
.btn-countries:focus,
.btn-countries:active:focus {
  background-color: #007acc !important;
}

.btn-speed-typing {
  background-color: #1e1e1e;
}

.btn-speed-typing:hover,
.btn-speed-typing:active,
.btn-speed-typing:focus,
.btn-speed-typing:active:focus {
  background-color: #1e1e1e !important;
}

#timer, #text-input-section, #score {
  border: 0.0625rem solid #d4d4d4;
  margin: 0 auto;
  width: 90%;
}

#time {
  color: #ff6565;
}

#learn-countries p {
  font-size: 1rem;
  padding: 2rem 0 0 0;
  text-align: left;
}

form {
  text-align: center;
}

#text-input {
  background-color: #d4d4d4;
  border: .2rem solid #007acc;
  border-radius: .4rem;
  color: #1e1e1e;
  font-weight: bold;
  height: 2rem;
  letter-spacing: .1rem;
  text-align: center;
  width: 80%;
}

#text-input:focus {
  outline: none !important;
  border: .2rem solid #007acc;
  box-shadow: 0 0 .5rem #007acc;
}

/* Credit: w3schools @ https://www.w3schools.com/howto/howto_css_placeholder.asp */
::placeholder {
  color: #1e1e1e;
  font-weight: 100;
  opacity: .4;
}
/* /End of Credit */

#game-score {
  color: #ffff98;
}

#medal {
  color: #daa520;
}

#highest-score {
  color: #fdf838;
}

#time, #game-score, #medal, #highest-score {
  font-size: 2rem;
}

/* ---------- Section (countries.html) */
#countries {
  background-color: #007acc;
  border: none;
  margin: 0;
}

#country-name, #google-maps-title {
  margin-top: 1rem;
  text-align: center;
}

#country-flag {
  border: 0.0625rem solid #d4d4d4;
  height: 9rem;
  margin: 0 auto;
  width: 70%;
}

.input-group {
  margin: 0 auto;
  width: 70%;
}

.custom-select {
  background-color: #007acc;
  color: #d4d4d4;
  margin-top: 1rem;
}

#google-maps {
  height: 25rem;
}

#maps {
  border: .0625rem solid #d4d4d4;
  height: 80%;
}

/* ---------- Footer All Pages */
footer {
  margin: 1.5rem 0;
  text-align: center;
}

/* ---------- Modal All Pages */
.modal-content {
  background-color: #f9dbdb;
  color: #525252;
  font-size: .9rem;
  line-height: 2rem;
  padding: 1rem 1.5rem;
}

#game-instructions-title {
  font-size: 1.5rem;
  margin: 0 auto;
}

.modal-header, .modal-body {
  border-bottom:.0625rem solid #525252;
}

.modal-alert {
  font-size: .8rem;
  margin-bottom: 0;
}

.modal-body ul {
  padding-left: 1rem;
}

.btn-modal {
  margin: 1rem auto;
}

/* -------------------- Media Query: Desktop Size (62rem / 992px) -------------------- */
@media only screen and (min-width: 62rem) {

  body {
    margin: 0 auto;
    width: 90%;
  }

  #navbarNav {
    padding-right: 1rem;
    position: absolute;
    right: 0;
  }

  #navbarNav li a {
    margin-top: 1rem;
  }

  .menu-home, .menu-instructions {
    padding-right: 1.8rem;
  }

  nav img {
    width: 18rem;
  } 
  
  h1 {
    font-size: 3.3rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  #text-input-section p, #text-input p {
    font-size: 1rem;
    padding: 1.5rem .5rem ;
  }  

  #timer h4 {
    text-align: left;
  }

  #text-input {
    font-size: 1.5rem;
    height: 2.8rem;
    padding: .5rem;
  }

  #score h4 {
    margin-bottom: 3rem;
    text-align: right;
  }

  #countries {
    border-radius: 1rem;
    box-shadow: 0 0 .5rem #007acc;
    height: 35rem;
  }  

  #countries-info h4 {
    text-align: left;
  }

  #maps {
    border-radius: 2rem;
    height: 120%;
  }  
}