* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: "Montserrat", sans-serif;
}

h1, h4 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: .2rem;
}

h1 {
  padding-top: 1.5rem;
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: .2rem;
  margin-top: 1rem;
  text-align: center;
}

h4 {
  margin: 1.5rem 0; 
  text-align: center;
}

/* ---------- Header */
.navbar {
  background-color: #1e1e1e !important;
}

.navbar-nav {
  margin-right: .8rem;
}

nav img {
  width: 13rem;
}

#navbarNav li a {
  color: #007acc;
  float: right;
  font-family: "Courgette", cursive;
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: .1rem;
}

#navbarNav li a:hover {
  color: #d4d4d4;
}

/* Credit: Stackoverflow @ https://stackoverflow.com/questions/50668594/remove-border-color-for-navbar-toggler-hamburger-icon-bootstrap-4 and @ https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,122,172, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* /End of Credit */

/* ---------- Section (index.html) */
section p {
  font-size: 1.2rem;
  letter-spacing: .1rem;
  padding: 1.5rem 2rem ;
  margin-bottom: 0;
  text-align: center;
}

section p span {
  font-weight: 800;
}

hr {
  background-color: rgba(0, 122, 204, .5);
  border: none;
  border-radius: 2rem;
  height: .3rem;
  margin: 0 auto;
  width: 80%;
}

/* Credit: codepen @ https://codepen.io/techshiva/pen/JVbKLM */
@-webkit-keyframes buzz-out-on-hover {

  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes buzz-out-on-hover {

  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.buzz-out-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.buzz-out-on-hover:hover, .buzz-out-on-hover:focus, .buzz-out-on-hover:active {
  -webkit-animation-name: buzz-out-on-hover;
  animation-name: buzz-out-on-hover;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* /End of Credit */

.btn-instructions {
  background-color: #ff6565;
  border: none;
  border-radius: 2rem;
  display:block;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  margin: 2.2rem auto;
  padding: .5rem 1rem;
  width: 15rem;
}

.btn-instructions:hover,
.btn-instructions:active,
.btn-instructions:focus,
.btn-instructions:active:focus {
  background-color: #ff6565 !important;
  border: none !important;
  box-shadow: none !important;
}

.btn-countries {
  background-color: #007acc;
  border: none;
  border-radius: 2rem;
  display:block;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  margin: 1rem 0 0 0;
  padding: .5rem 1rem;
  width: 13rem;
}

.btn-countries:hover,
.btn-countries:active,
.btn-countries:focus,
.btn-countries:active:focus {
  background-color: #007acc !important;
  border: none !important;
  box-shadow: none !important;
}

.timer, .text-input, .score {
  border: 0.0625rem solid #d4d4d4;
  margin: 0 auto;
  width: 90%;
}

.time {
  color: #ff6565;
}

.learn-countries p {
  font-size: 1rem;
  padding: 2rem 0 0 0;
  text-align: left;
}

form {
  text-align: center;
}

input {
  background-color: #d4d4d4;
  border: .2rem solid #007acc;
  border-radius: .4rem;
  color: #1e1e1e;
  font-weight: bold;
  height: 2rem;
  letter-spacing: .1rem;
  text-align: center;
  width: 80%;
}

input:focus {
  outline: none !important;
  border: .2rem solid #007acc;
  box-shadow: 0 0 .5rem #007acc;
}

::placeholder {
  color: #1e1e1e;
  font-weight: 100;
  opacity: .4;
}

.game-score {
  color: #ffff98;
}

.medal {
  color: #daa520;
}

.highest-score {
  color: #fdf838;
}

.time, .game-score, .medal, .highest-score {
  font-size: 2rem;
}

/* ---------- Footer */
footer {
  margin: 1.5rem 0;
  text-align: center;
}

/* -------------------- Media Query: Desktop Size (62rem / 992px) -------------------- */
@media only screen and (min-width: 62rem) {

  body {
    margin: 0 auto;
    width: 90%;
  }

  #navbarNav {
    padding-right: 1rem;
    position: absolute;
    right: 0;
  }

  #navbarNav li a {
    margin-top: 1rem;
  }

  .menu-home, .menu-instructions {
    padding-right: 1.8rem;
  }

  nav img {
    width: 18rem;
  } 
  
  h1 {
    font-size: 3.3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .timer h4 {
    text-align: left;
  }

  .score h4 {
    margin-bottom: 2.6rem;
    text-align: right;
  }

  input {
    font-size: 1.5rem;
    height: 2.8rem;
    padding: .5rem;
  }
}